@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);

body {
    font: 300 15px/1.6 "Raleway", serif, sans-serif;
    color: #545454;
    background-color: #121212;
    transition: background-color 0.5s;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: rgb(54, 87, 235);
}

a:hover {
    color: #c4c4c4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font: 400 46px/1.2 "Montserrat", serif, sans-serif;
    margin: 5px 0 5px;
    color: #222;
}

h1 {
    font-size: 70px;
    font-weight: 700;
    margin: 5px 0 15px;
}

h2 {
    font-size: 22px;
    text-transform: uppercase;
    margin: 5px 0 15px;
}

h3 {
    font-size: 22px;
    text-transform: uppercase;
    margin: 5px 0 15px;
}

h4 {
    font-size: 16px;
    margin: 5px 0 10px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 13px;
}

.wrapper {
    overflow: hidden;
}

.navbar {
    background: 0 0;
    border-radius: 0;
    border: 0;
    padding: 20px 0;
    text-transform: uppercase;
    color: #fff !important;
    z-index: 999999;
}

.navbar-custom .navbar-toggle .icon-bar {
    background: #fff;
    transition: color 0.5s;
}

.navbar-custom .navbar-brand {
    font: 700 18px/1.2 "Montserrat", serif, sans-serif;
    color: #fff;
    transition: color 0.5s;
}

.navbar-custom .navbar-nav > li.active {
    border-bottom: 3px solid #fff;
    transition: border-bottom 0.5s;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li.active {
    background: 0 0;
    outline: 0;
}

.navbar-custom .nav li a:hover {
    font-size: 15px;
}

.navbar-custom .navbar-nav .dropdown-menu > li > a,
.navbar-custom .navbar-nav > li > a {
    color: #fff;
    font-size: 12px;
    transition: color 0.5s;
}

.custom-collapse,
.navbar-color {
    background: #121212;
    box-shadow: 0 0 4px rgb(0 0 0 / 20%);
    padding: 0;
    transition: background 0.5s;
}

.custom-collapse .navbar-brand,
.custom-collapse .navbar-nav .dropdown-menu > li > a,
.custom-collapse .navbar-nav > li > a,
.navbar-color .navbar-brand,
.navbar-color .navbar-nav .dropdown-menu > li > a,
.navbar-color .navbar-nav > li > a {
    color: #fff;
    transition: color 0.5s;
}

.darkModeNavbar.navbar-color .navbar-brand,
.darkModeNavbar.navbar-color .navbar-nav > li > a,
.darkModeNavbar.custom-collapse .navbar-brand,
.darkModeNavbar.custom-collapse .navbar-nav > li > a {
    color: #212d3a;
    transition: color 0.5s;
}

.darkModeNavbar.navbar-custom .navbar-nav > li.active {
    border-bottom: 3px solid #212d3a;
    transition: border-bottom 0.5s;
}

.darkModeNavbar.navbar-custom .navbar-toggle .icon-bar {
    background: #212d3a;
    transition: color 0.5s;
}

.custom-collapse .navbar-nav > li.active {
    border: 0;
}

#intro {
    padding: 260px 0 160px 0;
    text-align: center;
    color: #fff;
    transition: color 0.5s;
}

#intro h1,
#intro h2,
#intro h3,
#intro h4,
#intro h5,
#intro h6 {
    color: #fff;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.hello {
    margin: 0 0 100px;
}

.rotate {
    text-shadow: 0 0 0 !important;
}

.callout,
.section {
    position: relative;
    padding: 120px 0;
}

.scroll-downs {
    position: relative;
    height: 50px;
    width: 30px;
    margin: 0 auto;
    display: block;
    z-index: 10;
}

.mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
}

.scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
    animation-iteration-count: infinite;
}

@keyframes scroll {
    0% {
        opacity: 0;
    }
    10% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(15px);
        opacity: 0;
    }
}

#profile {
    padding-top: 75px;
    padding-bottom: 40px;
}

#profile,
#profile h1,
#profile h2 {
    color: #fff;
    transition: color 0.5s;
}

#profile h1 {
    font-size: 40px;
    margin-bottom: 0px;
    display: inline;
}

#profile h2 {
    margin-bottom: 30px;
}

#profile p {
    font-size: 18px;
    color: #ffffffbe;
    margin-top: 0px;
    transition: color 0.5s;
}

.title {
    margin-bottom: 40px;
}

.presentation {
    font-size: 15px !important;
}

.traitDesign {
    background-color: #50bfe6;
    height: 3px;
    width: 210px;
    margin-right: 20px;
}

.parag {
    display: flex;
    align-items: baseline;
}

hr {
    width: 20%;
    border-top: 2px solid #50bfe6;
}

#skills {
    padding-top: 50px;
}

.cardSkill {
    background-color: #222222;
    height: 200px;
    width: 200px;
    margin: 20px;
    border-radius: 10px;
    position: relative;
    transition: background-color 0.5s;
}

#skills .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#skills h1 {
    font-size: 40px;
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
    transition: color 0.5s;
}

.cardSkill span {
    color: #fff;
    font-weight: 600;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 150px;
    transition: color 0.5s;
}

.cardSkill img:hover {
    transform: rotate(15deg);
    transition-duration: 0.3s;
}

.cardSkill img {
    transform: rotate(0deg);
    transition-duration: 0.3s;
}

#imgSkill1 {
    position: absolute;
    left: 10px;
    top: 20px;
    width: 180px;
}

#imgSkill2 {
    position: absolute;
    left: 50px;
    top: 40px;
    width: 100px;
}

#imgSkill3 {
    position: absolute;
    left: 75px;
    top: 40px;
    width: 50px;
}

#imgSkill4 {
    position: absolute;
    left: 70px;
    top: 40px;
    width: 60px;
}

#imgSkill5 {
    position: absolute;
    left: 50px;
    top: 40px;
    width: 100px;
}

#imgSkill6 {
    position: absolute;
    left: 50px;
    top: 20px;
    width: 100px;
}

#imgSkill7 {
    position: absolute;
    left: 50px;
    top: 40px;
    width: 100px;
}

#imgSkill8 {
    position: absolute;
    left: 65px;
    top: 30px;
    width: 70px;
}

#imgSkill9 {
    position: absolute;
    left: 70px;
    top: 40px;
    width: 60px;
}

#imgSkill10 {
    position: absolute;
    left: 70px;
    top: 30px;
    width: 60px;
}

#stats {
    background-color: #222222;
    padding-top: 70px;
    transition: background-color 0.5s;
}

#stats h1 {
    font-size: 40px;
    color: #fff;
    text-align: center;
    margin-bottom: 70px;
    transition: color 0.5s;
}

.stat {
    color: #fff;
    font-size: 25px;
    text-align: center;
    margin: 20px 0;
}

.stat-icon {
    font-size: 35px;
    font-weight: 700;
}

.stat-icon .fa {
    margin-right: 10px;
}

#services {
    padding-top: 70px;
    padding-bottom: 30px;
}

#services h1 {
    font-size: 40px;
    color: #fff;
    text-align: center;
    margin-bottom: 70px;
    transition: color 0.5s;
}

.serv h2 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 15px;
    transition: color 0.5s;
}

.serv p {
    font-size: 15px;
    color: #fff;
    width: 75%;
    transition: color 0.5s;
}

.traitDesign2 {
    background-color: #50bfe6;
    height: 3px;
    width: 7%;
    margin-right: 15px;
}

#services .row {
    margin-bottom: 50px;
}

.items {
    width: 500px;
    height: 281px;
    background: #333;
    display: inline-block;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.items {
    position: absolute;
}

.main-pos {
    z-index: 3000;
}

.left-pos {
    opacity: 0.3;
    margin-left: -17em !important;
    z-index: 1000;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    transform: scale(0.75);
}

.back-pos {
    margin-left: 2em !important;
    opacity: 0.05;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    transform: scale(0.5);
}

.right-pos {
    opacity: 0.3;
    margin-left: 17em !important;
    z-index: 1000;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    transform: scale(0.75);
}

.btnPortfolio {
    position: relative;
    display: block;
    width: 156px;
    margin: 0 auto;
}

.carousel {
    width: 500px;
    margin: 0 auto;
    height: 330px;
    padding-left: 0;
}

#portfolio h1 {
    font-size: 40px;
    color: #fff;
    text-align: center;
    margin-bottom: 70px;
    transition: color 0.5s;
}

#portfolio {
    padding-top: 50px;
}

.parentHoverPortfolio {
    position: relative;
    height: 100%;
    filter: grayscale(0);
}

.hoverPortfolio {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #111111;
    color: white;
    font-family: sans-serif;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: filter 0.5s, visibility 0.5s, opacity 0.5s linear;
    transition: filter 0.5s, visibility 0.5s, opacity 0.5s linear;
    text-align: center;
    width: 100%;
    height: 150px;
    padding: 8px 15px;
}

.main-pos .parentHoverPortfolio:hover {
    filter: grayscale(1);
}

.main-pos .parentHoverPortfolio:hover div {
    visibility: visible;
    opacity: 0.9;
}

.main-pos .parentHoverPortfolio:hover img {
    transform: scale(1.1);
}

.parentHoverPortfolio img {
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
}

input[type="button"] {
    background-color: #50bfe6;
    border: none;
    color: white;
    padding: 8px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

input[type="button"]:hover {
    background-color: #30b5e6;
}

.serv {
    padding-left: 58px;
}

#contact {
    background-color: #222222;
    padding-top: 50px;
    transition: background-color 0.5s;
}

#contact h1 {
    font-size: 40px;
    color: #fff;
    text-align: center;
    margin-bottom: 70px;
    transition: color 0.5s;
}

#success_message {
    display: none;
}

textarea {
    resize: vertical;
}

#footer {
    padding: 10px 0;
    text-align: center;
}

#footer .copy {
    color: #fff;
}

#scrollUp {
    position: fixed;
    bottom: 10px;
    right: -100px;
    z-index: 9999;
}

#darkMode {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 9999;
    cursor: pointer;
    height: 38px;
    width: 38px;
    background-color: #30b5e6;
    border-radius: 50%;
}

#darkMode:hover {
    background-color: #30b5e6;
}

#darkMode img {
    height: 38px;
    width: 38px;
    padding: 5px;
}

.darkModeBody {
    background-color: #fff;
    transition: background-color 0.5s;
}

.darkModeSection {
    background-color: #f5f5f5 !important;
    transition: background-color 0.5s;
}

.darkModeNavbar {
    background-color: #fff !important;
    transition: background-color 0.5s;
}

.darkModeText {
    color: #212d3a !important;
    transition: color 0.5s;
}

.darkModeFooter {
    background-color: #50bfe6 !important;
    transition: background-color 0.5s;
}

#available {
    vertical-align: text-bottom;
    margin-left: 30px;
    font-size: 20px;
    font-weight: 500;
}

#available img {
    height: 30px;
    margin-right: 10px;
}

.labelForm{
    color: #fff;
    transition: color 0.5s;
}

@media screen and (max-width: 550px) {
    .items {
        width: 100%;
    }

    .carousel {
        width: 90%;
    }

    .left-pos {
        display: none;
    }

    .back-pos {
        display: none;
    }

    .right-pos {
        display: none;
    }

    #profile h1 {
        display: block;
    }

    #available {
        margin-left: 0px;
    }
}
