@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);
body {
    font: 300 15px/1.6 Raleway, serif, sans-serif;
    color: #545454;
}
img {
    max-width: 100%;
    height: auto;
}
a {
    color: #ef4836;
}
a:hover {
    color: #c4c4c4;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font: 400 46px/1.2 Montserrat, serif, sans-serif;
    margin: 5px 0 5px;
    color: #222;
}
h1 {
    font-size: 64px;
    font-weight: 700;
    margin: 5px 0 15px;
}
h2 {
    font-size: 40px;
    font-weight: 700;
}
h3 {
    font-size: 22px;
    text-transform: uppercase;
    margin: 5px 0 15px;
}
h4 {
    font-size: 16px;
    margin: 5px 0 10px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 13px;
}
.btn,
.form-control,
.navbar,
.portfolio-item-description,
a {
    -webkit-transition: all 0.125s ease-in-out 0s;
    -moz-transition: all 0.125s ease-in-out 0s;
    -ms-transition: all 0.125s ease-in-out 0s;
    -o-transition: all 0.125s ease-in-out 0s;
    transition: all 0.125s ease-in-out 0s;
}
.portfolio-item-preview {
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.btn,
.form-control,
.form-control:focus,
.form-control:hover,
.modal-content,
.panel,
.progress {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.alert,
.avatar,
.btn,
.form-control,
.label,
.modal-content,
.panel-group .panel,
.progress,
.widget-social li a {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
.form-control {
    background: #fff;
    border: 2px solid #c4c4c4;
    height: 54px;
    font-size: 14px;
    padding: 15px;
    color: #777;
}
.form-horizontal .form-group-lg .form-control,
.input-lg {
    height: 62px;
}
.form-horizontal .form-group-sm .form-control,
.input-sm {
    height: 40px;
    font-size: 12px;
}
.btn {
    font-weight: 700;
    font-size: 14px;
    padding: 17px 27px;
    border: 0;
}
.btn.active,
.btn:active,
.btn:focus,
.btn:hover {
    outline: inherit !important;
}
.btn .icon-before {
    margin-right: 6px;
}
.btn .icon-after {
    margin-left: 6px;
}
.btn-group-lg > .btn,
.btn-lg {
    padding: 22px 24px;
    font-size: 14px;
}
.btn-group-sm > .btn,
.btn-sm {
    padding: 11px 18px;
    font-weight: 400;
    font-size: 12px;
}
.btn-group-xs > .btn,
.btn-xs {
    padding: 7px 14px;
    font-size: 10px;
}
.btn-list .btn {
    margin-bottom: 5px;
}
.btn-default {
    background: #eee;
}
.btn-custom-1,
.btn-custom-2 {
    background: 0 0;
    border: 2px solid #ef4836;
    padding: 15px 25px;
}
.btn-custom-2 {
    border: 2px solid #222;
}
.btn-custom-1.active,
.btn-custom-1:active,
.btn-custom-1:focus,
.btn-custom-1:hover {
    background: #ef4836;
    border: 2px solid #ef4836;
    color: #fff;
}
.btn-custom-2.active,
.btn-custom-2:active,
.btn-custom-2:focus,
.btn-custom-2:hover {
    background: #222;
    border: 2px solid #222;
    color: #fff;
}
.alert {
    border: 0;
}
.skill-bar {
    background: #c4c4c4;
    display: table;
    height: 4px;
    width: 100%;
    margin: 10px -2px 20px -2px;
}
.skill-bar .skill-rate-on {
    background: #353535;
}
.skill-rate-off,
.skill-rate-on {
    display: table-cell;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
}
.progress {
    background: #e5e5e5;
    margin-top: 10px;
    margin-bottom: 20px;
}
.progress-bar {
    background: #353535;
    box-shadow: none;
}
.nav-pills,
.nav-tabs {
    margin-bottom: 20px;
}
.nav-pills > li > a {
    border-radius: 3px;
}
.nav-tabs > li > a {
    border-radius: 3px 3px 0 0;
}
.panel {
    border: 0;
}
.panel-body {
    background: #f5f5f5;
}
.modal-content,
.panel-group .panel-heading + .panel-collapse > .panel-body {
    border: 0;
}
.label {
    padding: 0.2em 0.6em 0.2em;
    font-size: 70%;
}
.label-custom-1 {
    background: #ef4836;
}
.label-custom-2 {
    background: #222;
}
.wrapper {
    overflow: hidden;
}
.callout,
.section {
    position: relative;
    padding: 120px 0;
}
.callout {
    background: #f5f5f5;
}
.headline {
    margin: 0 0 60px;
}
.headline p {
    font-weight: 700;
    color: #c4c4c4;
}
.callout-btn {
    margin-top: 10px;
}
.rotate {
    text-shadow: 0 0 0 !important;
}
.nomargin {
    margin: 0 !important;
}
.long-down {
    margin-bottom: 40px;
}
.icon-list {
    list-style: none;
    padding: 0;
}
.icon-list > li > i {
    margin-right: 6px;
}
h3 > .fa {
    font-size: 24px;
    margin-right: 6px;
}
.mouse-icon {
    position: relative;
    border: 2px solid #fff;
    border-radius: 16px;
    height: 50px;
    width: 30px;
    margin: 0 auto;
    display: block;
    z-index: 10;
}
.mouse-icon .wheel {
    -webkit-animation-name: drop;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-name: drop;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    position: relative;
    border-radius: 10px;
    background: #fff;
    width: 4px;
    height: 10px;
    top: 4px;
    margin-left: auto;
    margin-right: auto;
}
@-webkit-keyframes drop {
    0% {
        top: 5px;
        opacity: 0;
    }
    30% {
        top: 10px;
        opacity: 1;
    }
    100% {
        top: 25px;
        opacity: 0;
    }
}
@keyframes drop {
    0% {
        top: 5px;
        opacity: 0;
    }
    30% {
        top: 10px;
        opacity: 1;
    }
    100% {
        top: 25px;
        opacity: 0;
    }
}
.navbar {
    background: 0 0;
    border-radius: 0;
    border: 0;
    padding: 20px 0;
    text-transform: uppercase;
    color: #fff !important;
}
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li.active {
    background: 0 0;
    outline: 0;
    color: #ef4836;
}
.navbar-custom .navbar-brand {
    font: 700 18px/1.2 Montserrat, serif, sans-serif;
    color: #fff;
}
.navbar-custom .navbar-nav > li.active {
    border-bottom: 3px solid #fff;
}
.navbar-custom .navbar-toggle .icon-bar {
    background: #fff;
}
.navbar-custom .navbar-nav .dropdown-menu > li > a,
.navbar-custom .navbar-nav > li > a {
    color: #fff;
    font-size: 12px;
}
.custom-collapse,
.navbar-color {
    background: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    padding: 0;
}
.custom-collapse .navbar-brand,
.custom-collapse .navbar-nav .dropdown-menu > li > a,
.custom-collapse .navbar-nav > li > a,
.navbar-color .navbar-brand,
.navbar-color .navbar-nav .dropdown-menu > li > a,
.navbar-color .navbar-nav > li > a {
    color: #222;
}
.navbar-color .navbar-nav > li.active {
    border-bottom: 3px solid #222;
}
.custom-collapse .navbar-nav {
    text-align: left;
}
.custom-collapse .navbar-nav > li.active {
    border: 0;
}
.custom-collapse .navbar-toggle .icon-bar,
.navbar-color .navbar-toggle .icon-bar {
    background: #222;
}
#intro {
    padding: 260px 0 160px 0;
    text-align: center;
    color: #fff;
}
#intro h1,
#intro h2,
#intro h3,
#intro h4,
#intro h5,
#intro h6 {
    color: #fff;
}
.hello {
    margin: 0 0 100px;
}
#profile-contact {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    padding: 20px 0;
}
.profile-item i {
    display: block;
    line-height: 42px;
    font-size: 32px;
    color: #222;
}
.profile-widget {
    margin-bottom: 40px;
}
.widget-social {
    padding: 0;
    margin: 0;
}
.widget-social li {
    display: inline-block;
    margin-right: 5px;
}
.widget-social li a {
    background: #2e2e2e;
    text-align: center;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 1.25em;
    color: #fff;
}
.widget-social li a:hover {
    background: #ef4836;
}
.stat .stat-icon {
    margin-bottom: 10px;
    font-size: 32px;
    color: #222;
}
.stat .stat-icon i {
    margin-right: 10px;
}
.service {
    margin: 0 0 40px;
}
.service .icon {
    font-size: 32px;
    margin: 0 0 5px;
    color: #222;
}
.resume-items {
    margin-bottom: 40px;
}
.resume-place {
    margin-bottom: 20px;
}
.resume-place > h4 > i,
.resume-place > i {
    color: #c4c4c4;
    font-size: 14px;
    margin-right: 5px;
}
.owl-theme .owl-item {
    text-align: center;
}
.owl-theme .owl-controls .owl-page span {
    margin: 0 4px;
    border-radius: 0;
    width: 40px;
    height: 4px;
}
.owl-theme .owl-controls .owl-pagination {
    margin-top: 20px;
}
.portfolio-item {
    margin-bottom: 20px;
    overflow: hidden;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 2px #ccc;
}
.portfolio-item-preview {
    position: relative;
}
.portfolio-item:hover .portfolio-item-preview {
    -webkit-transform: scale(1.1) rotate(2deg);
    -moz-transform: scale(1.3) rotate(3deg);
    -ms-transform: scale(1.3) rotate(3deg);
    -o-transform: scale(1.3) rotate(3deg);
    transform: scale(1.2) rotate(3deg);
}
.portfolio-item:hover .portfolio-item-description {
    opacity: 1;
    bottom: 0;
}
.portfolio-item-description {
    background: rgba(255, 255, 255, 0.85);
    position: absolute;
    right: 0;
    bottom: -70px;
    left: 0;
    padding: 25px;
    text-align: center;
    opacity: 0;
    color: #222;
}
.portfolio-item-description a {
    color: #76affc;
}
.portfolio-item-description a:hover {
    color: #ef4836;
}
#contact {
    background: #18191a;
    color: #fff;
}
#contact h1,
#contact h2,
#contact h3,
#contact h4,
#contact h5,
#contact h6 {
    color: #fff;
}
#contact .form-control {
    border: 0;
}
.ajax-response {
    margin-top: 15px;
}
#footer {
    background: #141414;
    padding: 20px 0;
    color: #fff;
}
#footer .copy {
    font-size: 12px;
    margin: 5px 0;
}
#preloader {
    background: #fff;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}
#status,
.status-mes {
    background-image: url(/assets/images/488.gif);
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    left: 50%;
    margin: -100px 0 0 -100px;
    position: absolute;
    top: 50%;
    width: 200px;
}
.status-mes {
    background: 0 0;
    left: 0;
    margin: 0;
    text-align: center;
    top: 65%;
}
.status-mes h4 {
    color: #222;
    margin-top: 30px;
}
@media (max-width: 767px) {
    .wrapper {
        text-align: center;
    }
    #profile-contact .profile-item,
    #stats .stat {
        margin: 0 0 20px;
    }
}
div.img_certif {
    float: left;
    height: 80px;
    width: 80px;
}
div.img_certif img {
    height: 80px;
}
div.with-images h4,
div.with-images p {
    padding-left: 90px !important;
}
@media (max-width: 767px) {
    div.img_certif {
        display: none;
    }
    div.with-images h4,
    div.with-images p {
        padding-left: 0 !important;
    }
}
